.emailList {
    flex: 1;
    overflow: scroll;
}

/* hide scrollbar for chrome, safari and opera */
.emailList::-webkit-scrollbar {
    display: none;
}

/* hide scrollbar for IE, edge and firefox */
.emailList {
    -ms-overflow-style: none; /*IE and edge*/
    scrollbar-width: none; /*firefox*/
}

.emailList__settings {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}


.emailList__sections {
    position: sticky;
    top: 0;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}

.emailList__list {
    padding-bottom: 20%;
}